* {
    box-sizing: border-box;
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
    background-color: rgb(184, 209, 230);
    color:rgba(62, 105, 161, 0.979);
}

/* Header Text */

h1 {
    position: relative;
    left: 85px;
    top: 20px;
}

/* Header Image */

header img {
    height: 50px;
    width: 50px;
    border-radius: 100px;
    position: relative;
    top: -25px;
    right: -25px;    
}

header img:hover {
    height: 75px;
    width: 75px;
}

/* Navigation Links */

nav a {
    border: 1px solid;
    padding: 10px;
    text-decoration: none;
    margin-left: 10px;
    font-size: 18px;
    border-radius: 25px;
}
nav a:hover {
    color: antiquewhite;
}

.flex-container {
    display:flex;
    justify-content: flex-end;
}

/* Header Image */

figure img {
    width: 100%;
    height: 250px;
}

/* Main Content */

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

/* About Me*/

#about-me {
    position: relative;
    top: 25px;
    width: 100px;
    margin-left: 25px;
}

main p {
    position: relative;
    left: 125px;
    top: -35px;
    border-left: 2px solid;
    padding-left: 50px;
    width: 700px;
}

/* Work */

#work {
    width: 100px;
    position: relative;
    top: 10px;
}

#border {
    position: relative;
    left: 125px;
    top: -52px;
    border-left: 2px solid;
    height: 656px;
}

/* Site Links */

figure a {
    display: flex;
    flex-wrap: wrap;
    width: 30%;
    height: 350px;
    position: relative;
    left: 175px;
    bottom: 10px;
}

figure a :hover {
    width: 600px;
    height: 450px;
    z-index: 3;
}

figcaption {
    width: 100px;
    height: 54px;
    position: relative;
    left: 175px;
    top: 44px;
    background-color: white;
    border: 2px solid rgba(62, 105, 161, 0.979);
    font-weight: bolder;
    z-index: 2;
}

main h2 {
    color: rgba(62, 105, 161, 0.979);
    margin-top: 25px;
    margin-left: 25px;
}

/* Contact Me Header */

#contact-me {
    width: 110px;
    border-right: 2px solid;
    margin-left: 17px;
}

/* Contact Links */

.contact-me {
    position: relative;
    left: 200px;
    bottom: 35px;
    text-decoration: none;
    padding-right: 15px;
}

.contact-me:hover {
    background-color: rgba(62, 105, 161, 0.979);
    color: antiquewhite;
}